/* =================== */
/* image               */

.image {
  display: block;
  width: 200px;
  margin: 0 auto 1.125em;
  border: 1px solid #333;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.75);

  @media (min-width: 475px) {
    float: right;
    margin: 0.25em 0 0.25em 1.125em;
  }
}
