// =======================
// MAIN SASS FILE

@import 'reset';

// font families
@mixin google-font($font) {
	$font: unquote($font);
	@import url(https://fonts.googleapis.com/css?family=#{$font});
}

$google-fonts: "Open+Sans:400,700|Days+One|Rajdhani:400,700";

@include google-font($google-fonts);

// document
html, body {
	font-family: "Open Sans", sans-serif;
	background: url('../img/dark_mosaic.png');
}

.container {
	background: url('../img/zwartevilt.png');
	box-shadow: 0 0 .25em .25em rgba(0,0,0,.75);
	width: 100%;
	max-width: 60em;
	min-height: 100vh;
	padding: 2em 0;
	margin-left: auto;
	margin-right: auto;
}

// title area
.title-area {
	max-width: 800px;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;

	h1 {
		font-family: "Days One", sans-serif;
		font-size: 2em;
		line-height: 1em;
		color: #2ba3b9;
		margin-bottom: .25em;
	}

	p {
		font-family: "Rajdhani", sans-serif;
		font-size: 1.25em;
		line-height: 1.5em;
		color: #7691a5;
	}
}

// canvas
.game-canvas {
	display: block;
	height: 500px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #202b3e;
}

// footer
.footer {
	max-width: 800px;
	margin: 2rem auto;
	display: grid;
	gap: 1rem;
	text-align: center;
	color: #7691a5;

	a {
		color: #12edf1;;
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}
