# Ignore artifacts & building tools
.vscode
build
coverage
node_modules

# Ignore external apps
assets/archive/dashboard
assets/archive/tic-tac-toe
assets/archive/nitro

# Ignore all * minified files
**/*.min.js
**/*.min.css