@use "../variables/colors";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--pattern {
    background: #cbe4e9 url("/img/patterns/mark-small-void.jpg") repeat;
  }

  &--solid {
    background: colors.$brand-primary;
  }

  /* flex doesn't work in IE9, IE10, IE11 */
  @media screen and (min-width: 0\0) {
    display: block;
    height: 100%;
  }

  .page-layout {
    flex-grow: 1;
  }
}
