.footer {
   position: relative;
   z-index: 2;
   background-color: #00161c;
   color: #ffffff;

   &__content {
      @include universal-container();
      padding: rhythm(2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rhythm(1);
   }

   &__link {
      font-size: .9em;
   }
}