.footer {
  position: relative;
  z-index: 2;
  background-color: $brand-primary;
  color: #ffffff;
  line-height: 1.4em;
  text-align: center;

  &__content {
    @include universal-container();
    padding: rhythm(2);
    display: grid;
    justify-items: center;
    gap: rhythm(1);
  }

  &__link {
    font-size: 0.9em;
  }
}
