@use "../functions/rhythm";
@use "../mixins/layout";
@use "../variables/colors";

.footer {
  position: relative;
  z-index: 2;
  background-color: colors.$brand-primary;
  color: #ffffff;
  line-height: 1.4em;
  text-align: center;

  &__content {
    @include layout.universal-container();
    padding: rhythm.rhythm(2);
    display: grid;
    justify-items: center;
    gap: rhythm.rhythm(1);
  }

  &__link {
    font-size: 0.9em;
  }
}
