.header {
   position: relative;
   z-index: 2;
   background-color: #00313d;
   color: #ffffff;

   &__content {
      @include universal-container();
      display: grid;
      grid-template-columns: $sidebar-width 1fr;
   }

   &__logo {
      padding: rhythm(1);
   }
}