@use "../variables/colors";

.link {
  &_style-primary {
    color: colors.$link-primary;
    font-weight: 700;
  }

  &_style-white {
    color: #ffffff;
    font-weight: 700;
  }

  &_style-secondary {
    color: colors.$link-secondary;
    border-bottom: 1px solid colors.$link-secondary;
  }

  &_layout-flex {
    display: flex;
    align-items: center;
    gap: 0.25em;

    .link__icon {
      flex-shrink: 0;
    }
  }

  &_layout-atsign {
    display: flex;
    align-items: center;

    .link__icon {
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      margin: 0.07em 0.05em 0;
    }
  }
}
