/* ================== */
/* footer             */

.footer {
  justify-self: center;
  width: calc(100% - 4rem);
  max-width: 72ch;
  margin: 0 2rem;
  padding: 3.25rem 0 4rem;
  border-top: 2px solid var(--color-red-400);

  display: grid;
  grid-gap: 0.5rem;

  p {
    font-size: 0.875rem;
    text-align: center;

    @media screen and (min-width: 45rem) {
      font-size: 1rem;
    }
  }
}
