/* =================== */
/* body                */

body {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  background: url("../../img/halftone-leaflet.jpg") repeat
    var(--color-neutral-200);
  font-family: var(--ff-bitter);
  font-size: 1rem;
  line-height: 1.7;
  color: var(--color-neutral-700);

  @media screen and (min-width: 64rem) {
    font-size: 1.125rem;
  }
}
