/* =================== */
/* sidebar             */

.sidebar {
  max-width: 50ch;
  align-self: start;

  display: grid;
  align-items: center;
  padding: 1em;

  .line {
    font-style: italic;
    color: var(--color-neutral-500);
    margin-bottom: 0.5em;

    @media (min-width: 64rem) {
      margin-bottom: 0;
    }

    br {
      display: none;

      @media (min-width: 64rem) {
        display: block;
      }
    }

    .indent {
      display: inline;
      padding-left: 0;

      @media (min-width: 64rem) {
        display: block;
        padding-left: 2em;
      }
    }
  }

  .author {
    margin-top: 1em;
    justify-self: end;
    color: var(--color-neutral-700);
  }
}
