<div class="heading-divider margin-bottom-1">
   <h2 class="heading-divider__text">Overview</h2>
   <div class="heading-divider__line" role="presentation"></div>
</div>

<div>Role</div>
<p>{{ project.role }}</p>

<div>Business Goals</div>
<p>{{ overview.b_goals }}</p>

<div>User Needs</div>
<p>{{ overview.u_needs }}</p>

<div>Process</div>
<ul>
{% for process in overview.process %}
   <li>{{process}}</li>
{% endfor %}
</ul>