<footer class="footer">
   <div class="footer__content">
      &copy;2012 - {{current_year}} {{site_owner}}. All Rights Reserved.
      <a href="/site-info/" class="link">Site Info</a>
   </div>
</footer>