<footer class="footer">
   <div class="footer__content">
      &copy;2012 - {{current_year}} {{site_owner}}. All Rights Reserved.
      <a href="/site-info/" class="link_style-secondary footer__link">Site Info</a>
      <a href="#" id="js_scroll-to-top__backup" class="link_style-secondary footer__link">
         Back to top
         <svg class="icon_fill" width="14" height="14" role="img" aria-label="(press to scroll to the top of the page)">
            <use xlink:href="{{icon_path}}#icon-caret-skinny"></use>
         </svg>
      </a>
   </div>
</footer>