<header class="header">
   <div class="header__content">
      <a href="/" class="header__logo">
         <svg class="icon_fill" width="256" height="54" role="img" aria-label="{{site_owner}} logo">
            <use xlink:href="{{icon_path}}#icon-logo"></use>
         </svg>
      </a>
      <nav id="js_nav" class="nav">
         <button type="button" id="js_menu-button" class="menu-button" style="display:none">
            <div class="menu-button__layout">
               <svg id="js_menu-button__icon" class="menu-button__icon menu-button__icon--state-hamburger" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="32" height="32" role="img" aria-label="hamburger menu">
                  <rect class="animated-icon__menu-button__top" x="2" y="6" width="28" height="4"/>	
                  <rect class="animated-icon__menu-button__middle" x="2" y="14" width="28" height="4"/>
                  <rect class="animated-icon__menu-button__bottom" x="2" y="22" width="28" height="4"/>
               </svg>
               <span id="js_menu-button__label">Open</span> Navigation
            </div>
         </button>
         <a href="/" class="nav__link">Home</a>
         <a href="/portfolio/" class="nav__link">Portfolio</a>
         <a href="/archive/" class="nav__link">Archive</a>
         <a href="/about-me/" class="nav__link">About Me</a>
      </nav>
   </div>
</header>