<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page_title|safe}}</title>
<meta name="description" content="{{page_description|safe}}">
<meta name="copyright" content="{{site_owner}}">
<meta name="author" content="{{site_owner}}">

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQ7kYNgqYG">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=xQ7kYNgqYG">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=xQ7kYNgqYG">
<link rel="manifest" href="/site.webmanifest?v=xQ7kYNgqYG">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQ7kYNgqYG" color="#04506b">
<link rel="shortcut icon" href="/favicon.ico?v=xQ7kYNgqYG">
<link rel="icon" href="/favicon.ico?v=xQ7kYNgqYG" type="image/x-icon">
<meta name="msapplication-TileColor" content="#04506b">
<meta name="theme-color" content="#e1e5f2">

<!-- social media images -->
<link rel="image_src" href="/img/social-media/big-2024.jpg">
<meta property="og:image" content="/img/social-media/big-2024.jpg">
<link rel="image_src" href="/img/social-media/square.jpg" />
<meta property="og:image" content="/img/social-media/square.jpg" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/{{stylesheet}}?v=3">

{# <!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">  #}