<header class="header">
   <a href="/">
      <img src="" alt="{{site_owner}} logo">
   </a>
   <nav class="nav">
      <a href="/" class="nav__link">Home</a>
      <a href="/portfolio/" class="nav__link">Portfolio</a>
      <a href="/archive/" class="nav__link">Archive</a>
      <a href="/about-me/" class="nav__link">About Me</a>
   </nav>
</header>