<button type="button" id="js_scroll-to-top__button" class="scroll-to-top__button scroll-to-top__button--hidden" style="display: none">
  <svg class="icon_fill" width="24" height="24" role="img" aria-label="press to scroll to the top of the page">
    <use xlink:href="{{icon_path}}#icon-caret-chunky"></use>
  </svg>
</button>