<section class="sidebar">
   <img src="/img/portrait.jpg" alt="portrait of {{site_owner}}" width="250" class="margin-bottom-1">
   <p class="paragraph">I am <span class="text_bold">Caitlin Teague</span>, an <span class="text_bold">interface designer and developer</span>. I help software teams build beautiful and easy-to-use web apps by designing and front-end developing user interfaces that marry business goals and user needs.</p>

   <div>
      <h2>Get in touch</h2>
      <a href="mailto:design@caitlinteague.com" class="link_style-primary">design@caitlinteague.com</a>
   </div>

   <div>
      <h2>Connect with me</h2>
      <a href="https://www.linkedin.com/in/caitlin-teague-doerr" class="link_style-primary">
         <svg class="icon_fill" width="32" height="32" role="img" aria-label="Connect with me on LinkedIn">
            <use xlink:href="{{icon_path}}#icon-linkedin" />
         </svg>
      </a>

      <a href="https://codepen.io/cteague" class="link_style-primary">
         <svg class="icon_fill" width="32" height="32" role="img" aria-label="Follow me on Codepen">
            <use xlink:href="{{icon_path}}#icon-codepen" />
         </svg>
      </a>

      <a href="https://codepen.io/cteague" class="link_style-primary">
         <svg class="icon_fill" width="32" height="32" role="img" aria-label="Fork me on Github">
            <use xlink:href="{{icon_path}}#icon-github" />
         </svg>
      </a>

      <a href="https://github.com/caitlinteaguedesign" class="link_style-primary">
         <svg class="icon_fill" width="32" height="32" role="img" aria-label="Follow me on Instagram">
            <use xlink:href="{{icon_path}}#icon-instagram" />
         </svg>
      </a>
      
   </div>
</section>