@use "../functions/rhythm";

$i: 1;

@while $i <= 4 {
  .margin-top-#{$i} {
    margin-top: rhythm.rhythm($i);
  }

  .margin-bottom-#{$i} {
    margin-bottom: rhythm.rhythm($i);
  }

  .margin-left-#{$i} {
    margin-left: rhythm.rhythm($i);
  }

  .margin-right-#{$i} {
    margin-right: rhythm.rhythm($i);
  }

  $i: $i + 1;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}
