body {
   font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-family: $font-body;
   font-weight: 400;
}

.paragraph {
   font-family: $font-body;
   font-size: 1em;
   line-height: 1.5em;
}

.text_bold {
   font-weight: 700;
}