body {
   font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-family: $font-body;
   font-weight: 400;
   color: #333333;
}

.paragraph {
   font-family: $font-body;
   font-size: 1em;
   line-height: 1.5em;
}

.measure {
   max-width: 33em;
}

.heading-1 {
   font-family: $font-body;
   font-size: 2.25em;
   font-style: italic;
   color: #1f7a8c;
   line-height: 1.1em;
}

.heading-2 {
   font-family: $font-heading;
   font-size: 2em;
   font-weight: 700;
   color: #04506b;
   line-height: 1.2em;
}