@use "../functions/rhythm";
@use "../variables/dimensions";
@use "../variables/fonts";

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -system-ui,
    -apple-system,
    Helvetica,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-family: fonts.$font-body;
  font-weight: 400;
  color: #333333;
}

.paragraph {
  font-family: fonts.$font-body;
  font-size: 1em;
  line-height: 1.5em;
}

.measure {
  max-width: dimensions.$measure;
}

.heading-1 {
  font-family: fonts.$font-body;
  font-size: 2.25em;
  font-style: italic;
  color: #1f7a8c;
  line-height: 1.1em;
}

.heading-2 {
  font-family: fonts.$font-heading;
  font-size: 2em;
  font-weight: 700;
  color: #04506b;
  line-height: 1.2em;
}

.heading-divider {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: rhythm.rhythm(0.5);
  gap: rhythm.rhythm(0.5);

  &__text {
    font-family: fonts.$font-body;
    font-weight: 700;
    font-size: 2.25em;
    font-style: italic;
    color: #1f7a8c;
    line-height: 1.1em;
  }

  &__line {
    width: 100%;
    height: 13px;
    transform: skewX(-15deg);
    background-color: #1f7a8c;
  }
}
