.theme-night {
  --color-title: red;
  --color-text: #d8e1ff;
  --color-accent: #ff483e;
  --color-water: #101b3d;
  --opacity-sunset-sky: 0;
  --opacity-sunset-land: 0;
  --top-sun-widescreen: 32rem;
  --top-sun-default: 28rem;
  --delay-transition-title: 0.5s;
}
