.theme-sunset {
  --color-title: #ffffff;
  --color-text: #ffffff;
  --color-accent: #ffe939;
  --color-water: #475ea4;
  --opacity-sunset-sky: 1;
  --opacity-sunset-isle: 1;
  --top-sun-widescreen: 29rem;
  --top-sun-default: 26rem;
  --delay-transition-title: 0;
}
