@import "reset";

$headings: "Oswald", sans-serif;
$body: "Bitter", serif;

body {
  font-family: $body;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  background: url("../img/halftone-leaflet.jpg?v=1") repeat #eaeaea;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  color: #eb240a;
  font-weight: 700;
  border-bottom: 0.1em solid #eb240a;
}

.container {
  grid-column: 2;

  padding: 2rem 4rem 4rem;
  background: url("../img/halftone2.jpg?v=1") repeat #eaeaea;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  justify-items: center;

  max-width: 1600px;
  margin: auto;

  @media (min-width: 80em) {
    grid-template-columns: 1fr 1fr;
  }
}

.book-jacket {
  @media (min-width: 80em) {
    grid-column: 1 / 3;
  }

  .text-effect {
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradient(to bottom, #363636, rgba(0, 0, 0, 0.5), #1a1a1a),
      url("../img/trees.png");
    // background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .headings {
    font-family: $headings;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.25em;
    font-size: 8vh;
    text-align: center;
    letter-spacing: 0.05em;

    @media (min-width: 500px) {
      font-size: 4.5em;
      letter-spacing: 0.1em;
    }

    &.title:after {
      content: "";
      display: block;
      margin: 0.4em auto;
      width: 25vw;
      height: 0.1em;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .tagline {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 700;
    color: #eb240a;
  }
}

.poem {
  max-width: 50ch;
  align-self: start;

  display: grid;
  align-items: center;
  padding: 1em;

  .stanza {
    .line {
      font-style: italic;
      color: #666666;
      margin-bottom: 0.5em;

      @media (min-width: 650px) {
        margin-bottom: 0;
      }

      br {
        display: none;

        @media (min-width: 650px) {
          display: block;
        }
      }

      .indent {
        display: inline;
        padding-left: 0;

        @media (min-width: 650px) {
          display: block;
          padding-left: 2em;
        }
      }
    }
  }

  .author {
    margin-top: 1em;
    justify-self: end;
    color: #333333;
  }
}

.thoughts {
  max-width: 70ch;

  @media (min-width: 80em) {
    grid-column: 2;
  }

  h3 {
    font-family: $headings;
    font-size: 2.25em;
    font-weight: 700;
    text-transform: uppercase;
    //color: #454545;

    margin-bottom: 1em;
    background: linear-gradient(to bottom, #363636, rgba(0, 0, 0, 0.5), #1a1a1a),
      url("../img/trees.png");
    // background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  p {
    color: #333333;
    margin-bottom: 1em;
  }

  ul {
    margin-bottom: 1.375em;
    list-style-position: inside;
    padding-left: 1.125em;
    list-style: disc;

    li {
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;
    width: 200px;
    margin: 0 auto 1.125em;
    border: 1px solid #333;
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.75);

    @media (min-width: 475px) {
      float: right;
      margin: 0.25em 0 0.25em 1.125em;
    }
  }
}
