{% extends '_layout.njk' %}

{% block main %}

   <h1>in the archive test</h1>
   <a href="/">home</a>
   <a href="dashboard/">dashboard</a>
   <a href="tic-tac-toe/">tic-tac-toe</a>
   <a href="pong/">pong</a>
   <a href="between-the-world-and-me/">between-the-world-and-me</a>
   <a href="other-women/">other-women</a>

{% endblock %}