{% set page_title = 'Archive' %}
{% set page_description = 'View past projects in action'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1>in the archive</h1>
   <a href="/archive/dashboard/" target="_blank">dashboard</a>
   <a href="/archive/tic-tac-toe/" target="_blank">tic-tac-toe</a>
   <a href="/archive/pong/" target="_blank">pong</a>
   <a href="/archive/between-the-world-and-me/" target="_blank">between-the-world-and-me</a>
   <a href="/archive/other-women/" target="_blank">other-women</a>

{% endblock %}