// ==============================
// colors

$red: #e83600;
$yellow: #f5e963;
$tan: #fffef0;
$default-text: #332e15;

// ==============================
// styles

body {
  background-color: $tan;
  color: $default-text;
  font-family: "Tinos", serif; /* windsor */

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4.5em;

  padding-bottom: 5.625em;
}

a {
  color: $red;
  font-weight: 700;
  border-bottom: 0.125em solid $red;

  &:hover {
    color: $red;
  }
}

/* book jacket */
.book-jacket {
  display: grid;
  grid-template-rows: auto 1fr auto 0.5em auto;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  box-shadow: 0 1px 10px 0 rgba(136, 92, 9, 0.75);
  min-height: 34vh;

  @media (min-width: 800px) {
    min-height: 56vh;
    grid-template-rows: auto 1fr auto 1em auto;
  }
}

.headings {
  padding-left: 2rem;
  padding-right: 2rem;
  justify-self: end;
  text-align: right;
  font-family: "Berkshire Swash", serif;
}

.title {
  z-index: 3;
  grid-column: 2;
  grid-row: 4 / 6;
  color: #170201;
  font-size: 4.3em;
  line-height: 0.65em;
  padding-bottom: 1rem;
}

.author {
  z-index: 2;
  grid-column: 2;
  grid-row: 3 / 5;
  color: $red;
  font-size: 3.5em;
  line-height: 0.7em;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 800px) {
  .title {
    font-size: 8.75em;
    padding-bottom: 1.5rem;
  }

  .author {
    font-size: 7em;
  }
}

.tagline {
  z-index: 2;
  grid-column: 2;
  grid-row: 1;
  padding: 0.5em 0.5em 0.5em 2rem;
  font-size: 1.25em;

  .other-title {
    color: $red;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.decorative-area {
  z-index: 1;
  grid-column: 1 / 4;
  background-color: $yellow;

  &--bottom {
    grid-row: 5;
    border-top: 6px solid $red;
  }

  &--top {
    grid-row: 1;
    border-bottom: 4px solid $red;
  }
}

/* copy */
.copy {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.25em;
  width: 100%;
  max-width: 80ch;
  display: grid;
  grid-gap: 1.125em;

  h3 {
    font-size: 2.531em;
    line-height: 1em;
    color: $red;
    font-weight: 700;
    letter-spacing: -1px;
  }

  p {
    font-size: 1.125em;
    line-height: 1.4em;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;
    width: 200px;
    margin: 0 auto 1.125em;
    border: 1px solid #ffe475;
    box-shadow: -1px 1px 5px 1px rgba(136, 92, 9, 0.75);

    @media (min-width: 475px) {
      float: right;
      margin: 0.25em 0 0.25em 1.125em;
    }
  }
}
