.about {
  padding: 4rem 2rem;
  display: grid;
  gap: 3rem;
  background: var(--color-deep-water);
  color: var(--color-text);
  transition: all var(--timing) linear;

  @media screen and (min-width: 650px) {
    padding: 4rem 3rem;
  }

  @media screen and (min-width: 970px) {
    gap: 5rem;
    grid-template-columns: 1fr auto;
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: 1fr auto auto 1fr;
  }
}

.about__copy {
  @media screen and (min-width: 1100px) {
    max-width: 50ch;
    grid-column: 2;
  }

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.about__title {
  margin-bottom: 3rem;
}

.about__cover {
  margin: auto;
  max-width: 300px;
  width: 100%;
  height: auto;
  border: 1px solid var(--color-accent);
  transition: border-color var(--timing) linear;
}
