.about {
  display: grid;
  gap: 3rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 4rem 2rem;

  @media screen and (min-width: 650px) {
    padding: 4rem 3rem;
  }

  @media screen and (min-width: 970px) {
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: 1fr auto auto 1fr;
  }
}

.about__copy {
  width: 100%;

  @media screen and (min-width: 1100px) {
    max-width: 62ch;
    grid-column: 2;
  }
}

.about__title {
  margin-bottom: 3rem;
}

.about__cover {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
