.button {
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  background: radial-gradient(
    circle closest-side,
    var(--color-orange-400) 40%,
    var(--color-orange-800)
  );
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 10;
  top: 2rem;
  right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  box-shadow:
    0 6px 12px 0 rgba(0, 0, 0, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.25);

  .button__bg {
    /* moon version */
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle closest-side,
      var(--color-blue-300) 40%,
      var(--color-blue-700)
    );
    opacity: var(--button-moon-bg-opacity);
    transition: opacity var(--btn-timing) ease-in-out;
  }
}

.svg {
  position: absolute;
  transition: all var(--btn-timing) ease-in-out;

  &.svg-sunset {
    top: 8px;
    left: var(--button-icon-sunset-left);
    color: var(--color-yellow-400);
  }

  &.svg-moon {
    top: 10px;
    left: var(--button-icon-moon-left);
    color: var(--color-neutral-0);
  }
}
