.footer {
  padding: 0 2rem;
  background: var(--color-deep-water);
  font-size: 0.75rem;
  color: var(--color-text);
  transition: all var(--timing) linear;

  @media screen and (min-width: 650px) {
    padding: 0 3rem;
    font-size: 1rem;
  }

  .footer__content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    gap: 1rem;
    padding: 3rem 0 4rem;
    border-top: 1px solid var(--color-accent);
    transition: border-color var(--timing) linear;
    text-align: center;
  }
}
