.sample {
  max-width: 57ch;
  margin: 6rem auto 0;
  padding: 3rem 2rem 3rem;
  color: var(--color-text);
  transition: color var(--timing) linear;

  @media screen and (min-width: 650px) {
    padding: 3rem 3rem 3.5rem;
  }

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.detail {
  margin: 3rem auto 3.25rem;
}

.cta {
  margin-top: 3rem;
  padding-top: 2.8rem;
  border-top: 1px solid var(--color-accent);
  transition: border-color var(--timing) linear;
}
