.sky {
  opacity: var(--opacity-sunset-sky);
  position: relative;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
  background: linear-gradient(
    to bottom,
    var(--color-blue-900) 35%,
    var(--color-orange-800) 50%,
    var(--color-orange-400)
  );
  width: 100%;
  height: 100%;
  transition: all var(--timing) linear;
  box-sizing: border-box;
}
