{% set page_title = 'Error' %}
{% set page_description = 'Uh oh! Something went wrong.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1>Oops! Sorry but there's no page here.</h1>
	<p><a href="/">go to home page</a></p>

{% endblock %}