{% set page_title = 'Error' %}
{% set page_description = 'Uh oh! Something went wrong.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1 class="heading-1 margin-bottom-2">Uh oh!</h1>
   <p class="paragraph measure">Sorry but there's no page here. The project may have been removed or there's an error in the URL.
   <br/><br/>
   <a href="/" class="link_style-primary">Go to home page</a>
   </p>

{% endblock %}