{% set page_title = 'Home' %}
{% set page_description = 'Welcome to my portfolio website!'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1 class="heading-1 margin-bottom-2">Welcome!</h1>
   <p class="paragraph measure">A fancier homepage is underway. In the meantime, you can checkout my <a href="/portfolio/" class="link_style-primary">Portfolio</a> and my <a href="/archive/" class="link_style-primary">Archive</a> of past projects. If you're wondering who the heck I am you can learn a little bit about me at, appropriately named, <a href="/about-me/" class="link_style-primary">About Me</a> or see my work history onLeerburg <a href="https://www.linkedin.com/in/caitlin-teague-doerr" class="link_style-primary" target="_blank">LinkedIn</a>.</p>

{% endblock %}