{% macro settings(GLOBAL_ICON_PATH, name, url, file) %}

<div class="gallery__item">
   <img src="/img/archive/{{ file }}" alt="{{ name }} thumbnail image">
   <a href="/archive/{{ url }}" target="_blank" class="link_layout-flex link_style-primary">
      {{ name }}
      <svg class="link__icon icon_scale icon_fill" width="16" height="16" role="img" aria-label="(press to open in a new window)">
         <use xlink:href="{{ GLOBAL_ICON_PATH }}#icon-externalLink"></use>
      </svg>
   </a>
</div>

{% endmacro %}