{% macro settings(name, url, src) %}

<div class="gallery__item">
   <a href="{{ url }}">
      <img src="{{ src }}" alt="{{ name }} thumbnail image" width="360" class="gallery__image">
   </a>
   <a href="{{ url }}" class="gallery__link link_style-primary">
      {{ name }}
   </a>
</div>

{% endmacro %}