/* =========================================
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   grabbed on 11/29/2017
========================================= */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Days+One|Rajdhani:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1em;
  webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom additions */
a {
  text-decoration: none;
}

video, img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

button {
  font-size: 100%;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
}

html, body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/dark_mosaic.png");
}

.container {
  background: url("../img/zwartevilt.png");
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 60em;
  height: 100vh;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.title-area {
  max-width: 800px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
.title-area h1 {
  font-family: "Days One", sans-serif;
  font-size: 2em;
  line-height: 1em;
  color: #2ba3b9;
  margin-bottom: 0.25em;
}
.title-area p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #435c6f;
}

.game-canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #202b3e;
}
