{% set page_title = 'Site Info' %}
{% set page_description = 'About this site and development.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1 class="heading-1 margin-bottom-2">Site Info</h1>

   <section class="margin-bottom-2">
      <h2 class="heading-2 margin-bottom-1">Stack</h2>
      <p class="paragraph measure margin-bottom-1">As with all of the web, this site is written in HTML and CSS. Styles aided by the lovely CSS preprocessor <a href="https://sass-lang.com/" class="link_style-primary">Sass</a>, enabling me to create a custom css framework. HTML built with <a href="https://mozilla.github.io/nunjucks/" class="link_style-primary">Nunjuck</a> for the templating engine (because hard coding anything is a drag!).</p>
      <p class="paragraph measure">Helpful scripting tools from <a href="https://jquery.com/" class="link_style-primary">jQuery</a>. Workflow pipeline built with <a href="https://gulpjs.com/" class="link_style-primary">Gulp</a>.</p>

      
   </section>

   <section class="margin-bottom-2">
      <h2 class="heading-2 margin-bottom-1">Images</h2>
      <p class="paragraph measure margin-bottom-1">Unhappy with Raleway's normal font weight at sign, I substituted it with an svg created by Milinda Courey over at <a href="https://thenounproject.com/term/at-sign/282835/" class="link_style-primary">The Noun Project</a>.</p>
      <p class="paragraph measure margin-bottom-1">Images and graphics pertaining to particular projects are owned by their respective Clients.</p>
      <p class="paragraph measure">All images and graphics besides those listed explicitly above are owned by Caitlin Teague Doerr.</p>
   </section>

   <section>
      <h2 class="heading-2 margin-bottom-1">Typography</h2>
      <p class="paragraph measure">This site is set in <a href="https://fonts.google.com/specimen/Roboto+Condensed" class="link_style-primary">Roboto Condensed</a> by Christian Robertson and <a href="https://fonts.google.com/specimen/Raleway" class="link_style-primary">Raleway</a> by Matt McInerney, Pablo Impallari, Rodrigo Fuenzalida, and Igino Marini.</p>
   </section>

{% endblock %}