{% set page_title = 'Builds' %}
{% set page_description = 'View past projects in action'%}

{% extends '_layout.njk' %}

{% import 'macros/_archive-preview.njk' as preview %}

{% block main %}

   <h1 class="heading-1 margin-bottom-1">Live builds</h1>
   <p class="paragraph margin-bottom-2">View demos of things I've built for employers and small projects I did for honing my design and development skills.</p>

   <section class="margin-bottom-2">
      <h2 class="heading-2 margin-bottom-1">Web Apps</h2>

      <div class="gallery">
         {{ preview.settings(icon_path, "Sudoku Checker in MERN Stack", "https://sudoku.caitlinteague.com", "sudoku-checker.jpg?v=1", true) }}
         {{ preview.settings(icon_path, "Dashboard in React", "dashboard/", "dashboard.jpg") }}
         {{ preview.settings(icon_path, "Tic-Tac-Toe in React", "tic-tac-toe/", "tic-tac-toe.jpg") }}
         {{ preview.settings(icon_path, "Pong in Canvas and Javascript", "pong/", "pong.jpg") }}
      </div>

   </section>
   
   <section>
      <h2 class="heading-2 margin-bottom-1">CSS Experiments</h2>
      <p class="paragraph margin-bottom-1">UI themes based on book cover designs, an idea inspired by <a href="https://garrickvanburen.com" class="link_style-primary">Garrick van Buren</a>'s Kernest project and <a href="https://jensimmons.com/" class="link_style-primary">Jen Simmons</a>'s YouTube series on CSS grid.</p>
      <div class="gallery">
         {{ preview.settings(icon_path, "Between the World and Me", "between-the-world-and-me/", "between-the-world-and-me.jpg") }}
         {{ preview.settings(icon_path, "Other Women", "other-women/", "other-women.jpg") }}
      </div>
   </section>

{% endblock %}