$link-primary: #811b1b;
$link-secondary: #98e4e8;
$brand-primary: #00313d;

// animated me variables
:root {
  --teal: #67e5e9;
  --dark-teal: #007b8e;

  --bar-gradient: linear-gradient(
    -45deg,
    var(--dark-teal) 0%,
    var(--teal) 48%,
    var(--teal) 52%,
    var(--dark-teal) 100%
  );
}
