$link-primary: #811b1b;
$link-secondary: #98e4e8;
$brand-primary: #00313d;

$accent-light: #67e5e9;
$accent-medium: #007b8e;

// svg self-portrait
$self-portrait-skin: #f6e2e5;
$self-portrait-skin-shadow: #dbb7b4;
$self-portrait-nostril: #c7908b;
$self-portrait-hair: #dfc59a;
$self-portrait-hair-shadow: #cca478;
$self-portrait-hair-highlight: #e4d5b7;
$self-portrait-eyebrow: #855931;
$self-portrait-eye: #5b8ae1;
$self-portrait-lips: #e89fa1;
$self-portrait-teeth: #ffffff;
$self-portrait-shirt: #007b8e;
$self-portrait-shirt-shadow: #006373;
$self-portrait-glasses: #222222;
