{% set page_title = 'About Me' %}
{% set page_description = 'A little bit about me and how I got into web design and development.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1 class="heading-1 margin-bottom-2">About Me</h1>

   <section class="margin-bottom-2">
      <h2 class="heading-2 margin-bottom-1">Unusual beginnings</h2>

      <p class="paragraph measure margin-bottom-1">I might date myself here, but I was first introduced to html when I was a kid in the early 2000s in, of all places, <a href="//www.neopets.com/" class="link_style-primary" target="_blank">Neopets.com </a> (a website for elementary to middle-school aged children to play flash games and earn in-game currency to care for digital pets). Users could create custom pages for their pets’ profiles or item store, and with that came a rudimentary introduction to HTML and pre-CSS era styles. I was hooked.</p>

      <p class="paragraph measure">Eventually I outgrew Neopets and moved on into a free Geocities site in high school, where I modified free templates to suit my needs. I never took a course on html - I just tweaked the code until the page looked right (my fellow programmers might joke that that’s basically what we all do). With that I made my first portfolio site of drawings and digital art. That site is now, sadly, lost to the time of the ancient Internet.</p>
   </section>
   
   <section class="margin-bottom-2">
      <h2 class="heading-2 margin-bottom-1">Two directions: art or math</h2>

      <p class="paragraph measure margin-bottom-1">While I enjoyed coding and math, I was also fascinated by art and drew a lot in my free time. My grandfather, who would design custom greeting cards for my sister and I, inspired me to pursue a field related to design. When it came to decide on what to study in college I chose Graphic Design. I greatly enjoyed the courses I took and the professors and fellow students I learned from. My education provided an invaluable foundation that’s applicable to all design disciplines, especially web and user interface design.</p>

      <p class="paragraph measure">But during my studies of graphic design I realized that my true passions still lied in web design and development. At that point I decided it was best to finish the path I was on and find a role that would allow me to design and code.</p>
   </section>
   
   <section>
      <h2 class="heading-2 margin-bottom-1">A happy medium</h2>

      <p class="paragraph measure margin-bottom-1">In my current role I've had the privilege to expand my development skills beyond CSS and HTML to create the UI and front-end develop an online learning management software, a desktop shipping application, a Reach dashboard, and several websites.</p>

      <p class="paragraph measure margin-bottom-1">I've taken advantage of online resources to expand my knowledge of web design standards and to learn new programming languages. I've used tools like Sass and PHP to make my code easier to maintain and reuse. I've improved my knowledge of jQuery and JavaScript to build hidden menus and sidebars to ease navigation on mobile devices. I've taken seminars and online courses with user experience design experts to learn user testing exercises and information architecture strategies. I've learned exciting newer technologies like React and MERN stack, and now have the tools to build my own fun web apps.</p>

      <p class="paragraph measure">With all these tools and my design background, and with an excellent team of back-end developers, I've been able to create beautiful and user-friendly interfaces that accomplish business goals and give users what they need. For me, there’s no greater feeling than getting to take a product from design to completion.</p>
   </section>
{% endblock %}