{% set page_title = 'About Me' %}
{% set page_description = 'A little bit about me and how I got into web design and development.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1>About Me</h1>

{% endblock %}