{% set project = projects.id_1 %}
{% set overview = {
   b_goals: "Cut down on shipping costs and improve warehouse worker productivity.",
   u_needs: "Have an application that is easier to use and less error prone.",
   process: [
      "Researched desktop design conventions, relying heavily on Microsoft's Windows Dev Center documentation.",
      "Interviewed users and observed how they used current software to better understand their needs and workflow.",
      "Documented project requirements and mapped out the project's scope, breaking down complex pieces of the app into smaller tasks.",
      "Built prototypes of the application in Adobe XD to get initial user feedback on the UI, and clarify with the development team what components we were building.",
      "Worked with back-end developer to come up with solutions on how to handle different use scenarios and ways to reduce user error.",
      "Developed visual design in XAML (WPF) and used C# to build small interactions, like pop ups for messaging and data entry."
   ]
} %}

{% set page_title = 'Portfolio | '+project.name %}
{% set page_description = project.summary %}

{% extends '_layout.njk' %}

{% import 'macros/_project-highlights.njk' as highlights %}

{% block main %}

   {{ highlights.settings(project.name, project.client, project.key, true) }}

   <img src="/img/portfolio/ship-manager/lead-image.jpg" alt="{{ project.name }} illustrative graphic" class="margin-bottom-2">

   {% include 'partials/_case-study-overview.njk' %}

   <div class="alert alert_color-caution measure" role="region">
      <p class="paragraph">To protect the Client's intellectual property, some images have been altered or are an incomplete representation of the final product.</p>
   </div>

{% endblock %}
