{% set project = projects.id_1 %}
{% set overview = {
   b_goals: "Cut down on shipping costs and improve warehouse worker productivity.",
   u_needs: "Have an application that is easier to use and less error prone.",
   process: [
      "Researched desktop design conventions, relying heavily on Microsoft's Windows Dev Center documentation.",
      "Interviewed users and observed how they used current software to better understand their needs and workflow.",
      "Documented project requirements and mapped out the project's scope, breaking down complex pieces of the app into smaller tasks.",
      "Built prototypes of the application in Adobe XD to get initial user feedback on the UI, and clarify with the development team what components we were building.",
      "Worked with back-end developer to come up with solutions on how to handle different use scenarios and ways to reduce user error.",
      "Developed visual design in XAML (WPF) and used C# to build small interactions, like pop ups for messaging and data entry."
   ]
} %}

{% set page_title = 'Portfolio | '+project.name %}
{% set page_description = project.summary %}

{% extends '_layout.njk' %}

{% import 'macros/_project-highlights.njk' as highlights %}

{% block main %}

   {{ highlights.settings(project.name, project.client, project.key, true) }}

   <img src="/img/portfolio/ship-manager/lead-image.jpg" alt="{{ project.name }} illustrative graphic" class="margin-bottom-2">

   <section class="case-study-overview margin-bottom-2">
      {% include 'partials/_case-study-overview.njk' %}
   </section>

   <div class="alert alert_color-caution measure margin-center margin-bottom-2">
      <p class="paragraph">To protect the Client's intellectual property, some images have been altered or are an incomplete representation of the final product.</p>
   </div>

   <section class="section">
      <div class="section__header heading-divider">
         <h2 class="heading-divider__text">Capturing the project scope</h2>
         <div class="heading-divider__line" role="presentation"></div>
      </div>

      <div class="section__text">
         <p class="paragraph">This assignment tasked my co-developer and I with creating a new shipping label manager application to replace two programs our staff were using. Our version of the FedEx Ship Manager at the time was not maintained well by FedEx's development team (being in the midst of working on a new one themselves), and the program was powerful but bloated with features that we did not need. Our version of Indicia's application for USPS labels was very old and failed often. Ultimately neither completely suited our needs, and the users found it frustrating to have to use different applications to make labels for the respective shipping company.</p>
         <p class="paragraph">I was brought on board while the back-end development was already in motion. I conducted users interviews and demos of the current applications to get a feel for what our users needed the application to do for them, and how best to transition their workflow from the existing applications to a new all-in-one program.</p>
         <p class="paragraph">I consolidated my findings into a series of flowcharts using XMind and presented the results to the development team. We were able to use it to document the scope of the project, defining must haves and nice-to-haves. It greatly aided my work in developing the information architecture of the application, and help the team get on the same page on what we were building.</p>
      </div>

      <div class="section__figures">
         <figure class="figure margin-center">
            <img src="/img/portfolio/ship-manager/flowchart-quadrant.jpg" alt="Section of a project flowchart" class="figure__img">
            <figcaption class="figure__caption">Early version of the flowchart used to capture the scope of the project.</figcaption>
         </figure>
      </div>

      <section class="section section--child">
         <h2 class="heading-2 section__subheading">Test</h2>
         
         <div class="section__text">
            <p class="paragraph">This assignment tasked my co-developer and I with creating a new shipping label manager application to replace two programs our staff were using. Our version of the FedEx Ship Manager at the time was not maintained well by FedEx's development team (being in the midst of working on a new one themselves), and the program was powerful but bloated with features that we did not need. Our version of Indicia's application for USPS labels was very old and failed often. Ultimately neither completely suited our needs, and the users found it frustrating to have to use different applications to make labels for the respective shipping company.</p>
            <p class="paragraph">I was brought on board while the back-end development was already in motion. I conducted users interviews and demos of the current applications to get a feel for what our users needed the application to do for them, and how best to transition their workflow from the existing applications to a new all-in-one program.</p>
            <p class="paragraph">I consolidated my findings into a series of flowcharts using XMind and presented the results to the development team. We were able to use it to document the scope of the project, defining must haves and nice-to-haves. It greatly aided my work in developing the information architecture of the application, and help the team get on the same page on what we were building.</p>
         </div>

         <div class="section__figures section__figures--multiple">
            <figure class="figure margin-center">
               <img src="/img/portfolio/ship-manager/flowchart-quadrant.jpg" alt="Section of a project flowchart" class="figure__img">
               <figcaption class="figure__caption">Early version of the flowchart used to capture the scope of the project.</figcaption>
            </figure>
            <figure class="figure margin-center">
               <img src="/img/portfolio/ship-manager/flowchart-quadrant.jpg" alt="Section of a project flowchart" class="figure__img">
               <figcaption class="figure__caption">Early version of the flowchart used to capture the scope of the project.</figcaption>
            </figure>
            <figure class="figure margin-center">
               <img src="/img/portfolio/ship-manager/flowchart-quadrant.jpg" alt="Section of a project flowchart" class="figure__img">
               <figcaption class="figure__caption">Early version of the flowchart used to capture the scope of the project.</figcaption>
            </figure>
         </div>
      </section>

   </section>

{% endblock %}
