{% set page_title = 'Portfolio' %}
{% set page_description = 'Samples and case studies of my past work.'%}

{% extends '_layout.njk' %}

{% block main %}

   <h1 class="heading-1 bottom-spacing-2">Portfolio</h1>

{% endblock %}